<h1>Contact page</h1>
<a href="/">Go to home page</a>
<h2>Hello from Vasyl</h2>
<form method="post" action="send">
  <div class="row">
    <div class="six columns">
      <label for="userName">Your name</label>
      <input
        name="userName"
        class="u-full-width"
        type="text"
        placeholder="userName"
        id="userName"
      />
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input
        name="userEmail"
        class="u-full-width"
        type="email"
        placeholder="test@mailbox.com"
        id="exampleEmailInput"
      />
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea
    name="userText"
    class="u-full-width"
    placeholder="Hi Dave …"
    id="exampleMessage"
  ></textarea>

  <input class="button-primary" type="submit" value="Submit" />
</form>